<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="lvkoQFNjiGO-XIkeljTqyCBcynNr-8OrVjet66xBndY" />    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NewFiveFour.com</title>

    <link href="res/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="res/site.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="container-fluid">
	<div class="row">
		<div class="col-md-2 xcol-md-pull-10 sidebar">
			<p class="sidebar-text">I am an Android mobile and Java web (JavaEE / J2EE / Spring) developer with over four years of industry experience and a first-class degree</p>
			<ul class="sidebar-text sidebar-items" style="padding-left:30px">
				<li class="sidebar-item">I have worked for clients such as Oxford University Press, Dell, Morrisons and o2</li>
				<li class="sidebar-item"> I am a speaker at Android events</li>
				<li class="sidebar-item">I have created numerous commercial mobile apps and high-volume websites.</li>
				<li class="sidebar-item sidebar-link"><a href="https://github.com/denevell/">Github profile</a></li>
				<li class="sidebar-item sidebar-link"><a href="http://blog.denevell.org">Tech blog</a></li>
				<li class="sidebar-item">I am looking for a contracting role in the United Kingdom or abroad.</li>
			</ul>
			<p class="sidebar-text sidebar-contact">
				aaron at newfivefour.com
			</p>
		</div>

		<div class="col-md-10 xcol-md-push-2 main-content">

	<div class="page-header">
		<h1>NewFiveFour.com <small>Projects</small></h1>
	</div>
        {{range $i,$v := .projects}}
        <h3 class="bg-primary project-title">{{.Title}}</h3>
	<div class="project-keywords">
	{{range $i,$v := .Keywords}}<button class="btn btn-primary keyword">{{$v}}</button> {{end}}
	</div>
        <p class="project-description lead">{{.Description}}</p>
	<div class="project-images">
                {{range $i,$v := .Images}}
                       <img class="img-rounded project-image" src="{{$v}}" />
                {{end}}
	</div>
	<ul class="list-group project-features">
	{{range $i,$v := .Features}}
		<li class="list-group-item features-list-item">{{$v}}</li>
	{{end}}
        <div class="project-links">
        {{range $i,$v := .Links}}
                <a class="btn btn-primary link" href="{{$v.Link}}">{{$v.Description}}</a>
        {{end}}
        </div>
	</ul>
	<div class="clearfix"></div>
        {{end}}
	<br />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="res/jquery-1.11.0.min.js"></script>
    <script src="res/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>

		</div>
	</div>
	</div>
  </body>
</html>
