.container-fluid {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.row{
    overflow: hidden; 
    margin-left: 0px;
    margin-right: 0px;
}

.col-md-10 {
	padding-left: 0px;
	padding-right: 0px;
}

.col-md-2 {
	padding-left: 0px;
	padding-right: 0px;
}

.sidebar {
	background-color: #428BCA;
}

.sidebar-text {
	margin-top:20px;
	padding:10px;
	color: white;
	font-size: 20px;
	line-height: 1.1;
	font-weight: 500;
}

.page-header {
	margin-left:40px;
	margin-right:40px;
}

.project-title {
	padding:10px;
	padding-left:40px;
	padding-top:15px;
	padding-bottom:15px;
}

.project-description {
	margin-left:40px;
	margin-right:40px;
}

.project-images {
	margin-left:40px;
	margin-right:40px;
	margin-bottom:20px;
}

.project-features {
	margin-left:40px;
	margin-right:40px;
	width:50%;
	max-width:500px;
	float: left;
}

.features-list-item {
	background-color:#F7F7F9;
	font-size:16px;
}

.project-keywords {
	margin-left:40px;
	margin-right:40px;
}

.keyword {
	line-height: 1;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 5px;
}

